@import "tailwindcss";

@font-face {
  font-family: Roboto;
  src: local(Roboto), url("./Roboto-Italic-VariableFont_wdth,wght.ttf");
}

@theme {
  --breakpoint-4xl: 130rem;
  --breakpoint-930px: 50rem;
}

html {
  scroll-behavior: smooth;
}
