@import "tailwindcss";

@font-face{
  font-family: Roboto;
  src: local(Roboto), url("./Roboto-Italic-VariableFont_wdth,wght.ttf")
}

@theme{
  --breakpoint-4xl: 120rem;
}

html{
  scroll-behavior: smooth
}